@font-face {
  src: url(../fonts/NunitoSans-Regular.ttf);
  font-family: "Nunito Sans";
}
@font-face {
  src: url(../fonts/YesevaOne-Regular.ttf);
  font-family: "Yeseva One";
}
body {
  margin: 0;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}
body * {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 40px;
}
.button {
  font-style: italic;
  cursor: pointer;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: white;
  text-transform: uppercase;
}
.logo {
  padding-left: 94px;
  color: #e3b873;
  text-transform: uppercase;
}
.header {
  background: #131313;
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  font-size: 11px;
  line-height: 15px;
}
.header-navigation {
  list-style: none;
  display: flex;
}
.header-navigation_item {
  margin-right: 47px;
}
.header-navigation_item a {
  text-decoration: none;
  color: white;
}
.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}
.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-container {
  padding-left: 134px;
  position: relative;
  z-index: 1;
}
.title {
  margin: 0;
  font-family: Yeseva One, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;

  color: #ffffff;
}
.phone {
  margin-right: 47px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;

  color: #e3b873;
}
.text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;

  color: #ffffff;
}
.button-calculate {
  width: 207px;
  height: 51px;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
.button-application {
  margin-left: 20px;
  width: 207px;
  height: 51px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
.don {
  color: #e3b873;
}
#home {
  color: #e3b873;
}
.project {
  position: relative;
  background: #131313;
}
.project-container {
  padding-top: 107px;
  padding-right: 134px;
  padding-left: 134px;
  padding-bottom: 90px;
  position: relative;
}
.project-navigation {
  padding-left: 492px;
  display: flex;
  list-style: none;
}
.project-navigation-item {
  margin-right: auto;

  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.project-navigation-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
.rostov-don a {
  color: #e3b873;
  text-decoration: underline;
  border-bottom-color: #e3b873;
}
.project-content {
  display: flex;
}
.project-content-left {
  margin-right: 50px;
}
.project-content-left-subblock {
  display: flex;
  width: 442px;
  flex-wrap: wrap;
}
.project-content-left-subblock-text {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: column;
  width: 50%;
}
.project-icons {
  padding-top: 80px;
}
.project-content-left-h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;

  color: #e3b873;
}
.project-content-left-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
}
.project-content-left-h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #e3b873;
}
.project-span {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;

  color: #ffffff;
}
.project-icons-A {
  margin-right: 30px;
}
.project-icons-B {
  margin-right: 17px;
}
.control {
  margin-top: -20px;
  position: relative;
}
.control-container {
  display: flex;
  flex-direction: column;
}
.control-container-black {
  height: 300px;
  background-color: #131313;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.control-container-h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.control-container-svg {
  display: flex;
  justify-content: center;
}
.control-container-svg-R {
  margin-right: 5px;
  margin-left: 5px;
}
.control-container-camera {
  display: flex;
  text-align: center;
  padding-top: 31px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}
.control-container-camera-img {
  margin-left: 345px;
}
.control-container-camera-grey {
  margin-left: 345px;
  position: absolute;
  height: 434px;
  width: 818px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.control-container-camera-buttonplay {
  margin-top: 162px;
  margin-left: 676px;
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
}
.control-container-line {
  text-align: center;
  width: 55px;
  height: 1.5px;
  background: #e3b873;
  border-radius: 30px;
  margin: 62px auto 34px;
}
.control-container-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;

  color: #363636;
}
.control-container-form {
  display: flex;
  width: 769px;
  justify-content: space-between;
  margin: 93px auto 39px;
}
.label {
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.label_2 {
  margin-left: 58px;
}
.control-container-form-input {
  height: 31px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  width: 231px;
}

.button_lable {
  font-style: normal;
  height: 51px;
  width: 200px;
  margin-left: 49px;
}

.control-container-form-form_chekbox {
  text-align: center;
}
.control-checkbox {
  margin: 39px auto 0 auto;
  max-width: 286px;
}

.label-checkbox {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 1;
  transition: 0.2s;
}
.type-of-repair {
  padding-top: 62px;
  position: relative;
}
.type-of-repair-container {
  max-width: 1440px;
  margin: 0 auto;
}
.type-of-repair-container-h3 {
  font-family: Yeseva One;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;
}
.type-of-repair-svg {
  text-align: center;
}
.type-of-repair-photo {
  position: absolute;
}
.type-of-repair-container-photo {
  display: flex;
  justify-content: space-between;
  margin: 31px 100px 250px 100px;
  width: 1266px;
}
.type-of-repair-container-photo-repair {
  width: 392px;
  height: 421px;
}
.forma {
  position: absolute;
  width: 330px;
  max-height: 286px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
  margin: 294px 31px auto 31px;
  align-items: center;
  padding-top: 25px;
  padding-left: 34px;
  z-index: 1;
}
.forma-h4 {
  text-transform: none;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin: 0;
}
.list {
  padding-left: 16px;
  margin-top: 5px;
}
.list-li {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;

  color: #959595;
}
.type-of-repair-container-photo-Redecorating-price {
  position: absolute;
  margin-top: -10px;
  margin-left: -35px;
  padding-left: 0;
  float: left;
  text-align: left;
  width: 228px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 10px rgb(227 184 115 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-of-repair-container-photo-Redecorating-price-content {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.call {
  padding-top: 59px;
  margin-top: 60px;
  background-image: url(../images/house.jpg);
  background-repeat: no-repeat;
}
.call-container {
  max-width: 1440px;
  margin: 0 auto;
}
.call-container-wrapper {
  display: flex;
}
.call-container-wrapper-features {
  flex: 1 0 auto;
}
.call-container-wrapper-features-inner {
  height: 476px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-container-wrapper-features-inner-feature {
  display: flex;
}
.call-container-wrapper-features-inner-feature-curcle {
  flex: 0 0 58px;
  height: 58px;
  background: #e3b873;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
  border-radius: 50%;
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.call-container-wrapper-features-inner-feature-text {
  flex: 1 1 auto;
  padding-left: 17px;
  padding-top: 8px;
}
.call-container-wrapper-form {
  flex: 0 0 506px;
  background: #131313;
}

.call-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  top: 28px;
}
.request {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 48px;
  margin-left: 49px;
}
.requst-input {
  background-color: #131313;
  height: 31px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  width: 231px;
  color: #ffffff;
  width: 408px;
}
.request-text-checkbox {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
  color: #ffffff;
}
.chekbox-request {
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 163.68%;
  color: #ffffff;
}
.button-request {
  margin-left: 244px;
  margin-bottom: 27px;
}
.bank {
  background: #ffffff;
  padding: 38px 0 0 32px;
  display: flex;
}
.bank-icon-wrapper {
  width: 72px;
}
.bank-icon {
  width: 72px;
  height: 72px;
  background: #e3b873 url(../images/pig.svg) no-repeat 50% 50%;
  box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
  border-radius: 50%;
}
.bank-description {
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgb(227 184 115 / 15%);
  padding-top: 12px;
  padding-left: 25px;
}
.fantasies {
  background-image: url(../images/hall.jpg);
  background-size: cover;
  height: 864px;
  position: relative;
  margin-top: 255px;
}
.fantasies-container {
  position: relative;
  z-index: 1;
  margin-top: 329px;
  padding-top: 137px;
  display: flex;
  justify-content: space-between;
}
.fantasies-h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;

  color: #e3b873;
}
.fantasies-container-left {
  margin-left: 40px;
}
.fantasies-container-left-list {
  list-style: none;
  margin-top: 47px;
  padding: 0;
}

.fantasies-container-left-list-item {
  margin-bottom: 13px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;

  color: #ffffff;
}
.american {
  color: #e3b873;
  position: relative;
  display: inline-block;
  border-bottom: 1px #e3b873 solid;
}
.fantasies-overlay {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.fantasies-container-photo {
  width: 751px;
  margin-top: -137px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fantasies-container-photo-left {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
}
.fantasies-container-photo-right {
  margin-left: 43px;
  margin-top: -112px;
}
.fantasies-photo {
  margin-top: 39px;
}
.clients-container {
  margin-top: 110px;
}
.clients-container-title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;
}
.clients-container-svg {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.clients-container-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: center;

  color: #363636;
}
.clients-container-review {
  margin-top: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clients-container-review-block {
  width: 376px;
  height: 428px;
  justify-content: center;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 4%);
  background: #ffffff;
}
.clients-container-review-block-content {
  width: 325px;
  padding-top: 24px;
  padding-left: 20px;
}
.clients-container-review-block-content-people {
  display: flex;
}
.photo-clients {
  border-radius: 50%;
}
.title-pople {
  margin-left: 23px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 18px;
  line-height: 23px;

  color: #181818;
}
.text-people {
  margin-top: 11px;
  font-size: 13px;
  line-height: 23px;
  color: #959595;
  text-align: left;
}
.clients-container-review-block-content-card {
  margin-top: 60px;
  margin-left: -20px;
  text-align: left;
  width: 293px;
  height: 54px;
  background: #e3b873;
  box-shadow: 5px 5px 20px rgb(227 184 115 / 50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 17px;
}
.clients-container-review-block-content-card-value {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.clients-container-review-block-content-car-line {
  border: 0.75px solid #ffffff;
  height: 54.03px;
  width: 0;
}
.clients-bottom {
  background-image: url(../images/city.png);
  height: 505px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: relative;
  z-index: -1;
}
.clients-bottom-overley {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(256, 256, 256, 0.9);
  position: absolute;
}
.questions {
  background-image: url(../images/skyscraper.jpg);
  background-size: cover;
  height: 954px;
  position: relative;
  margin-top: -57px;
}
.questions-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-form-container {
  margin-top: -222px;
  background: #181818;
  box-shadow: 0px 30px 30px rgb(0 0 0 / 5%);
  max-width: 883px;
  max-height: 445px;
  padding: 34px 181px 34px 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-form-container-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-family: "Yeseva One", sans;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
.questions-form-container-inputs {
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 48px;
}
.questions-form-container-inputs-uprow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questions-label {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
.input {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  outline: none;
}
.input::placeholder {
  color: #ffffff;
}
.questions-uprow-input {
  color: #ffffff;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 231px;
}

.chekbox {
  display: none;
}
.questions-text-checkbox {
  color: #ffffff;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
}
.questions-button {
  font-style: normal;
  width: 200px;
  height: 51px;
  font-size: 13px;
  line-height: 27px;
  margin-top: 50px;
}
.questions_contacts {
  margin: 52px 0 0 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
}
.questions-icons {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71px;
}
.questions-map {
  margin-top: 45px;
}
.questions-overley {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
}
.footer {
  height: 133px;
  padding-top: 25px;
  background: #181818;
}
